html,
body {
  margin: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  overflow: hidden !important;
}

.controller.custom {
  width: 750px !important;
  height: 750px !important;
  background: hotpink !important;
  border: 10px solid white !important;
  border-radius: 40px !important;
}
